.App {
  font-family: sans-serif;
  text-align: center;
}
#html_out {
 overflow: auto;
 border: 1px solid #ccc;
 height: 100vh;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 padding: 20px;
}
#readme_out {
	float: left;
    height: calc(100vh - 62px);
}
#input_form {
    height: calc(100vh - 80px);
    overflow: auto;
}
